    table {
    border: 5px solid black;
    background-color:blueviolet;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-width: 3px;
}
input[type="button"]{
    width: 100%;
    padding: 15px 30px;
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border-color: black;
    border-radius: 15px;
    border-width: 3px;
    
}
input[type="text"] {
    padding: 15px 30px;
    background-color: white;
    border-radius: 15px;
    border-width: 3px;
    border-color: black;
}